@{
    ViewData["Title"] = "Settings Page";
    List<SupplierModel> suppliers = ViewBag.Suppliers;
    List<RestockModel> restocks = ViewBag.Restocks;
}
<style>
    #page-title {
        margin: 20px 0px;
        display: flex;
        justify-content: space-between;
    }

    .nav-button {
        padding: 6px 20px;
        background-color: #00639A;
        border-radius: 5px;
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
    }

    .nav-button:hover {
        color: #FFFFFF;
    }

    .action-button {
        width: 72px;
        height: 30px;
        border-radius: 5px;
        background: #00639A;
        color: #FFFFFF;
        font-size: 15px;
        border: none;
    }

    a {
        padding: 5px;
    }

    form {
        margin-top: 26px;
        margin-bottom: 10px;
    }

    input, select {
        height: 30px;
        margin: 5px 0;
    }

    .table {
        width: 100%;
    }

    .table th {
        background-color: rgba(217, 217, 217, 0.41);
    }

    .table td {
        padding-bottom: 8px;
        width: 25%;
    }
    .table-title {
        font-weight: bolder;
        margin-bottom: 10px;
    }

    #delete-button {
        background-color: rgba(154, 0, 0, 0.72);
    }

    .menu-item-container {
        min-width: 332px;
        height: 70px;
        border-radius: 5px;
        background: rgba(217, 217, 217, 0.41);
        display: flex;
        align-items: center;
        padding-left: 6px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .menu-item-image-container {
        height: 55px;
        width: 55px;
        margin-right: 8px;
    }

    .menu-item-image {
        object-fit: cover;
        height: 55px;
        width: 55px;
    }

    .menu-item-name {
        font-size: 17px;
    }

    .menu-link {
        text-decoration: none;
        color: #000000;
    }

    #menu-info {
        font-size: 10px;
    }

    @@media only screen and (max-width: 600px) {
        table td {
            font-size: 10px;
        }

        .action-button {
            width: 56px;
        }
    }
</style>

<h5 class="page-title">Settings</h5>

<a class="menu-link" asp-controller="Supplier" asp-action="Create">
    <div class="menu-item-container">
        <div class="menu-item-image-container">
            <img class="menu-item-image" src="~/images/supplier.png" />
        </div>
        <div class="menu-item-name">
            <div>Create Supplier</div>
            <span id="menu-info">Form to create new supplier</span>
        </div>
    </div>
</a>

<a class="menu-link" asp-controller="Restock" asp-action="Create">
    <div class="menu-item-container">
        <div class="menu-item-image-container">
            <img class="menu-item-image" src="~/images/restock.png" />
        </div>
        <div class="menu-item-name">
            <div>Create Inventory Restock Plan</div>
            <span id="menu-info">form to create restock plan for specific inventory</span>
        </div>
    </div>
</a>
<div class="table-title">Suppliers</div>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    @for (int i = 0; i < suppliers.Count; i++)
    {
        var supplier = suppliers[i];
        <tr>
            <td>@supplier.Name</td>
            <td>@supplier.Email</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=supplier.Id},new { @class="action-button"})
                @Html.ActionLink("Delete", "Delete", new {id=supplier.Id},new { @class="action-button", @id="delete-button"})
            </td>
        </tr>
    }
</table>

<div class="table-title">Restock Plans</div>

<table class="table">
    <tr>
        <th>Inventory</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>
    @for (int i = 0; i < restocks.Count; i++)
    {
        var restock = restocks[i];
        <tr>
            <td>@restock.Name</td>
            <td>@restock.Quantity</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=restock.Id},new { @class="action-button"})
                @Html.ActionLink("Delete", "Delete", new {id=restock.Id},new { @class="action-button", @id="delete-button"})
            </td>
        </tr>
    }
</table>